    /**
     * {@inheritdoc}
     */
    public function get%fn_name%()
    {
        return $this->_get(self::%field_const%);
    }

    /**
     * {@inheritdoc}
     */
    public function set%fn_name%($value)
    {
        $this->setData(self::%field_const%, $value);
        return $this;
    }