<?php
%header%

namespace %namespace%;

use Magento\Framework\Model\AbstractModel;

class %class% extends AbstractModel implements %interface%
{
    protected function _construct()
    {
        $this->_init('%resource_model%');
    }

%getter_list%

%setter_list%
}
