<?php
%header%

namespace %namespace%;

use Magento\Framework\Model\ResourceModel\Db\AbstractDb;

class %class% extends AbstractDb
{
    protected function _construct()
    {
        $this->_init('%table%', '%primary_key%');
    }
}
